body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}

