body{
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--Black);
}

.container{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 7vw;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
}

